# .gitignore

# Don't commit audio files

*.ogg

# Don't commit libraries

*.dll

# Don't commit NetCDF files (extension map files)

*.nc

# Don't commit game editor

deadbolt_map_editor.exe

# Don't commit game readme files

README.txt
Editor ReadME.pdf
options.ini

# Don't commit original game files that may violate copyright laws.

data.win
deadbolt_game.exe

dia_fp.json
dia_lv1_4.json
dia_lv2_1.json
dia_lv2_3.json
dia_lv3_5.json
dia_lv3_7.json
dia_lv4_2.json

original_files
modified_files
fetched_data